- village ||= false
- relationship ||= false

.person
  .image
    - if person.image
      = image_tag person.image.url('40x40#')
    - else
      = image_tag "default-person-40.png"
  .name
    = link_to person.name, person
  - if village == true && person.village
    .village
      Village: 
      = link_to person.village_name, person.village
  - if relationship
    .relationship-type
      Relationship:
      %span.relationship-type-name
      = relationship
      