%h2 Public education info

- output_fields_for(@person.public_education_info) do |output|
  = output.boolean "attending"
  = output.text 'grade'
  = output.text "performance"
  = output.text "attendance_patterns"
  = output.text "past_attendance"
  = output.text "name_of_schools"
  = output.text "school_contact"

= link_to "Edit public education info", public_education_info_person_path(@person)