- education_info = @person.public_education_info
%h2 Public education info
- unless education_info.nil?
  %p
    %span.label Grade
    %span.grade= education_info.grade

  %p
    %span.label Performance
    %span.performance= education_info.performance

  %p
    %span.label Attendance patterns
    %span.attendance-patterns= education_info.attendance_patterns

  %p
    %span.label Past attendance
    %span.past-attendance= education_info.past_attendance

  %p
    %span.label Name of schools
    %span.name-of-schools= education_info.name_of_schools

  %p
    %span.label School contact
    %span.school-contact= education_info.school_contact

= link_to "Edit public education info", public_education_info_person_path(@person)