- person_form_for("address") do |form|
  - form.fields_for :address do |fields|
    %p.field
      = fields.label :house_number
      %br
      = fields.text_field :house_number
  
    %p.field
      = fields.label :group_number
      %br
      = fields.text_field :group_number

    %p.field
      = fields.label :village_id
      %br
      = fields.select :village_id, Village.all.map { |village| [village.name, village.id] }