%h1 
  Edit address for
  = @person.name
  
- form_for @person, :html => { :multipart => true } do |form|
  %p.field
  = form.label :house_number
  %br
  = form.text_field :house_number
  
  %p.field
    = form.label :group_number
    %br
    = form.text_field :group_number

  %p.field
    = form.label :village_id
    %br
    = form.select :village_id, Village.all.map { |village| [village.name, village.id] }
  
  = form.submit "Save"