%h1 People

= render :partial => 'people/new'

= render :partial => 'people/search'

- if params[:search]
  %h2 Search results
  %p= link_to '&laquo; back', people_path
- else
  %h2 List of people

  %ul.pagination
    - Person.pagination_letters.each do |letter|
      %li= link_to letter, people_path(:letter => letter)

- if @people.any?
  %ul.people
    - @people.each do |person|
      %li= render :partial => "people/person", :locals => {:person => person, :village => true, :date_of_birth => true}

- else
  %p No people found.
