%h1 People

%h2 Add new person
- form_for Person.new do |f|
  %p.field
    = f.label :name
    = f.text_field :name
    
  %p.field
    %label
      = f.radio_button :gender, 'Female', :checked => true
      Female
    %label
      = f.radio_button :gender, 'Male'
      Male

  = f.submit "Add person"

%h2 List of people

%ul.pagination
  - Person.pagination_letters.each do |letter|
    %li= link_to letter, people_path(:letter => letter)

%ul.people
  - @people.each do |person|
    %li= render :partial => "people/person", :locals => {:person => person, :village => true, :date_of_birth => true}
