%h1.name= @person.name
#person
  - unless @person.image.nil?
    %p= image_tag @person.image.url('200x200')

  %dl
    %dt DOB
    %dd.date-of-birth= @person.date_of_birth
    
    %dt House number
    %dd.house-number= @person.house_number
    
    %dt Group number
    %dd.group-number= @person.group_number

    %dt Village
    %dd.village= @person.village_name

    %dt Gender
    %dd.gender= @person.gender
    
    %dt Religion
    %dd.religion= @person.religion

  = link_to "View more photos", person_photos_path(@person)

  - unless @person.siblings.blank?
    .siblings
      %p Siblings
      %ul
        - @person.siblings.split("\n").each do |sibling|
          %li.sibling= sibling

  %p= link_to 'Edit', edit_person_path(@person)

  #comments
    %h2 Comments

    - form_tag add_comment_person_path(@person.id) do
      = text_area_tag :comment
      = submit_tag 'Add comment'

    %ul
      - @person.recent_comments.each do |comment|
        %li
          .comment_text= simple_format comment.comment
          .info
            by
            = link_to comment.user.name
            = distance_of_time_in_words_to_now(comment.created_at)
            ago
