#person
  .section.top-section
    .photo-block
      .box
        = render :partial => 'photo'

    .basic-information
      .box
        = render :partial => 'basic_information'
  
    .address
      .box
        = render :partial => 'address'
  
  .section
    .public-education-info
      .box
        = render :partial => 'public_education_info'
    .siblings
      .box
        = render :partial => 'siblings'
  
  .section
    .obligations
      .box
        = render :partial => 'obligations'
  
    .social-development-info
      .box
        = render :partial => 'social_development_info'

  .section
    #comments
      .box
        = render :partial => 'comments'