%h1.name= @person.name
.student-status
  - if @person.student
    Student
  - else
    = button_to "Make #{@person.name} a student", make_student_person_path(@person)

#person
  - unless @person.image.nil?
    %p= image_tag @person.image.url('200x200')
  %h2 Basic information
  %p
    %span.label DOB
    %span.date-of-birth= @person.date_of_birth
  
  %p
    %span.label Gender
    %span.gender= @person.gender

  %p
    %span.label Religion
    %span.religion= @person.religion
  
  = link_to "Edit basic information", basic_information_person_path(@person)
  
  %h2 Address
  %p  
    %span.label House number
    %span.house-number= @person.house_number
  
  %p
    %span.label Group number
    %span.group-number= @person.group_number
  
  %p
    %span.label Village
    %span.village= @person.village_name
  
  = link_to "Edit address", address_person_path(@person)

  %p= link_to "View more photos", person_photos_path(@person)
  
  %h2 Siblings
  - unless @person.siblings.blank?
    .siblings
      %ul
        - @person.siblings.split("\n").each do |sibling|
          %li.sibling= sibling
  = link_to "Edit siblings", siblings_person_path(@person)

  #comments
    %h2 Comments

    - form_tag add_comment_person_path(@person.id) do
      = text_area_tag :comment
      = submit_tag 'Add comment'

    %ul
      - @person.recent_comments.each do |comment|
        %li
          .comment_text= simple_format comment.comment
          .info
            by
            = link_to comment.user.name
            = distance_of_time_in_words_to_now(comment.created_at)
            ago
