= person_section_header("siblings")
.people
  %ul
    - @person.siblings.each do |sibling|
      %li[sibling]
        = button_to "Remove", { :controller => 'people', :action => 'remove_sibling', :id => @person.id, :sibling_id => sibling.id }, :confirm => "Are you sure you want to remove #{sibling.name} as a sibling from #{@person.name}?", :method => :delete
        = render :partial => "people/person", :locals => {:person => sibling, :village => true}

  - form_tag add_sibling_person_path(@person), :method => :post, :id => "add-sibling" do
    = text_field_tag(:person_search)
    = text_field_tag(:person_id)
    = submit_tag "Add sibling"

  %p= link_to "Back", @person