= person_section_header("siblings")
%ul.people
  - @person.siblings.each do |sibling|
    %li[sibling]
      = button_to "Remove", { :controller => 'people', :action => 'remove_sibling', :id => @person.id, :sibling_id => sibling.id }, :confirm => "Are you sure you want to remove #{sibling.name} as a sibling from #{@person.name}?", :method => :delete
      = render :partial => "people/person", :locals => {:person => sibling}

- form_tag add_sibling_person_path(@person), :method => :post do
  = select_tag :person_id, options_from_collection_for_select(Person.all, :id, :name_and_village)
  = submit_tag "Add sibling"