%p.field
  = form.label :name
  %br
  = form.text_field :name
%p.field
  = form.label :date_of_birth
  %br
  = form.text_field :date_of_birth
%p.field
  = form.label :village
  %br
  = form.text_field :village
%p.field
  %label
    = form.radio_button :gender, 'Female'
    Female
  %label
    = form.radio_button :gender, 'Male'
    Male
%p.field
  = form.label :image
  %br
  = form.file_field :image
  %br
  - unless @student.image.nil?
    = image_tag @student.image.url('200x200')
%p.field
  = form.label :siblings
  %br
  = form.text_area :siblings
%p.field
  = form.label :notes
  %br
  = form.text_area :notes
%p.controls
  = form.submit submit_text