#student
  %dl
    %dt Name
    %dd.name= @student.name

    %dt DOB
    %dd.date-of-birth= @student.date_of_birth
  
    %dt Village
    %dd.village= @student.village
  
    %dt Gender
    %dd.gender= @student.gender

    %dt Notes
    %dd.notes= @student.notes
    
  %p= image_tag @student.image.url('200x200')
    
  - unless @student.siblings.blank?
    .siblings
      %p Siblings
      %ul
        - @student.siblings.split("\n").each do |sibling|
          %li.sibling= sibling
  
  %p= link_to 'Edit', edit_student_path(@student)
