- semantic_form_for @user do |f|
  - f.inputs do
    = f.input :name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.input :social_worker
  = f.buttons

= link_to 'back', users_path
