%h2 Villages

- form_for @village || Village.new do |f|
  = f.error_messages
  = f.label :name
  = f.text_field :name
  = f.submit "Add village"
  
%ul#villages
  - Village.all.each do |village|
    %li= village.name
