%h1 Courses
%p
  %a{:href => new_course_path} add course
%ul#courses
  - Course.all(:include => :students).each do |course|
    %li.course[course]
      %div
        %span.name= link_to course.name, course_path(course)
        %span.time= course.time
        %span.schedule= course.schedule
        %span.teacher= course.teacher
        %span.students
          = link_to "students", course_path(course)

      .student_list
        = render :partial => 'courses/students', :locals => {:course => course}