%h1= @course.name

#course
  %dl
    %dt Time
    %dd= @course.time
  
    %dt Schedule
    %dd= @course.schedule
  
    %dt Teacher
    %dd= @course.teacher

  %p= link_to 'Edit', edit_course_path(@course)
  
  #students
    %h2 Students
    = render :partial => 'students', :locals => { :course => @course}
