%h1= "Photos for #{@person.name}"
= link_to "Back to profile", person_path(@person)

%ul.photos
  - @person.photos.each do |photo|
    %li.photo
      = link_to image_tag(photo.image.url('250x200')), person_photo_path(@person, photo)
      %p.comment
        = photo.comment

%h3 Add new photo
= form_for [@person, Photo.new], :html => {:multipart => true} do |f|
  %div
    = f.label :image
    = f.file_field :image
  %div
    = f.label :comment
    = f.text_area :comment
  %div
    = f.submit "Add"