- @student.photos.each do |photo|
  .photo
    = image_tag photo.image.url
    %p.comment
      = photo.comment

- form_for [@student, Photo.new], :html => {:multipart => true} do |f|
  = f.label :image
  = f.file_field :image
  = f.label :comment
  = f.text_area :comment
  = f.submit "Add"