%h1= "Photo for #{@person.name}"
= link_to "Back to photos", person_photos_path(@person)

%div.photo= image_tag(@photo.image.url)
%p.comment= @photo.comment

= link_to "edit", edit_person_photo_path(@person, @photo)
= link_to "delete", person_photo_path(@person, @photo), :method => :delete, :confirm => 'Are you sure you want to delete this photo?'