%h2= "Photo for #{@student.name}"
= link_to "Back to photos", student_photos_path(@student)

%div.photo= image_tag(@photo.image.url)
%p.comment= @photo.comment

= link_to "edit", edit_student_photo_path(@student, @photo)
= link_to "delete", student_photo_path(@student, @photo), :method => :delete, :confirm => 'Are you sure you want to delete this photo?'