!!!
%html
  %head
    %title Childrens' Future International - Students Records
    = formtastic_stylesheet_link_tag
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
    = javascript_include_tag :jelly, *application_jelly_files
    = spread_jelly
    = javascript_include_tag 'ajaxDelete'

    
  %body{:class => "#{controller.controller_name}-section #{controller.action_name}-page"}
    #wrapper
      #header
        .site
          %h1 Childrens' Future International
          %h2 Student Records

      %ul#menu
        .site
          %li= link_to 'students', students_path
          %li= link_to 'courses', courses_path
          %li= link_to 'admin', users_path

      #content 
        %p.notice= flash[:notice]
        %p.alert= flash[:alert]
        %p.error= flash[:error]
        .site
          = yield
      #footer

