%h1 Households
%p
  %a{:href => new_household_path} add household
%ul#households
  - Household.all(:include => :people).each do |household|
    %li.household[household]
      %div
        %span.caretaker= link_to household.caretaker, household_path(household)
        %span.description= household.description
        %span.contact_information= household.contact_information
        %span.address= household.address
        %span.people= link_to "people", household_path(household)

      .person_list
        = render :partial => 'households/people', :locals => {:household => household}
