%h1= @household.caretaker
#household
  %dl
    -if !@household.image.nil?
      %dt
      %dd#household_image= image_tag(@household.image.thumb("400x400").url)

    %dt Caretaker
    %dd= @household.caretaker

    %dt Description
    %dd= @household.description

    %dt Contact Information
    %dd= @household.contact_information

    %dt Address
    %dd= @household.address

  %p= link_to "Edit", edit_household_path(@household)
  -if !@household.image.nil?
    %p= button_to 'Remove picture', { :action => 'destroy_image', :household_id => @household.id }, :confirm => "Are you sure you want to remove the note?", :method => :delete

  .section
    #people
      %h2 People
      = render :partial => "people", :locals => { :household => @household }

  -if current_user.is_social_worker?
    .section
      #notes
        = render :partial => 'notes', :locals => { :household => @household }
